$icon-font-path: '../fonts/';

@import "variables";
@import "btn";

// bower:scss
// endbower

/* Space out content a bit */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6, body {
  font-weight: 300;
}

.extra-small {
  font-size: 11px;
}

.bg-primary {
  background-color: $primary;
  border-bottom: solid $accent;
}

.bg-accent {
  background-color: $accent;
  color: #ffffff;
}

.alert.alert-warning {
  padding: 10px;
  margin: 10px;
  border: solid $accent;
  color: $accent;
}

.full-bg {
  padding: 20px 0;
  .light {
    color: rgba(255, 255, 255, 0.7);
  }
}

.cards {
  width: 100%;
  //@include vendor-prefix(background-image, (linear-gradient(180deg, rgba($primary, 0.8) 0%, rgba($primary-2nd, 0.75) 100%), url('/images/cards.jpg')));

  background: linear-gradient(180deg, rgba($primary, 0.6) 0%, rgba($primary-2nd, 0.45) 100%), url('/images/cards.jpg') no-repeat center center fixed;
  background-size: cover;
  background-attachment: scroll;
  padding-bottom: 0;

  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);

  color: #FFFFFF;

}

.brand {
  margin: 30px 0 60px 0;
}

.padding {
  padding: 5px;
}

.stores {
  width: 100%;
}

.stores-image {
  width: 150px;
}

.align-center {
  text-align: center;
}

.start-now {
  a {
    margin-left: 10px;
  }
}

.showcase {
  text-align: right;
  img {
    max-width: 75%;
  }
}

.upper-logo {
  width: 150px;
}

.margin-bottom {
  margin-bottom: 60px;
}

.margin-top {
  margin-top: 60px;
}

.lower-logo {
  max-width: 200px;
}

.author {
  a {
    color: rgba(255, 255, 255, 0.7) !important;
  }
}

.web-text {
  position: relative;
  top: 3px;
}

.feature-logo {
  text-align: center;
  margin-top: 20px;
}

.easy-scanning {
  max-width: 200px;
}

.follow-up {
  max-width: 200px;
}

.different-devices {
  max-width: 300px;
}

.footer {
  .stores {
    margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 992px) {

  .showcase {
    img {
      max-width: 90%;
    }
  }

  .upper-logo {
    max-width: 70px;
  }

}

@media (max-width: 768px) {
  .heading {
    margin-top: 20px;
  }

  .margin-top {
    margin-top: 20px;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .showcase {
    margin-top: 20px;
    text-align: center;
    img {
      max-width: 65%;
    }
  }

  body {
    font-size: 16px;
  }

  .footer {
    margin-top: 50px;
  }

  .stores {
    text-align: center;
  }

}

@media (max-width: 368px) {

  .start-now a {
    margin-top: 10px;
    margin-left: 0px;
  }

  .stores-image {
    max-width: 45%;
  }

  .brand {
    margin: 30px 0 30px 0;
  }

}
