$icon-font-path: '../fonts/';

@import "variables";
@import "btn";

// bower:scss
// endbower

/* Space out content a bit */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.bg-primary {
  background-color: $primary;
}

.bg-primary-2nd {
  background-color: $primary-3rd;
  color: #ffffff;
}

.bg-primary-3rd {
  background-color: $primary-3rd;
  color: #ffffff;
  border-bottom: solid $accent;
}

.alert.alert-warning {
  padding: 10px;
  margin: 10px;
  border: solid $accent;
  color: $accent;
}

.full-bg {
  padding: 20px 0;

  &.hero {
    padding-bottom: 0;
  }

  a {
    color: #ffffff;
  }

  .light {
    color: rgba(255, 255, 255, 0.7);
  }
}

.cards {
  width: 100%;
  //background-image: url('/images/cards.jpg');
  background: $primary;
  @include vendor-prefix(background-image, (linear-gradient(360deg, rgba(0, 188, 212, 0.7) 0%, rgba(0, 188, 212, 0.4) 100%), url('/images/cards.jpg')));
  background-repeat: repeat, no-repeat;
  background-size: 100% 100%, cover;
  background-position: 0% 0%, center center;
  background-attachment: scroll, scroll;
}

.brand {
  margin: 30px 0 60px 0;
}

.stores {
  width: 100%;
}

.stores-image {
  width: 150px;
}

.align-center {
  text-align: center;
}

.start-now {
  a {
    margin-left: 10px;
  }
}

.showcase {
  text-align: right;
  img {
    max-width: 75%;
  }
}

.upper-logo {
  width: 150px;
}

.margin-bottom {
  margin-bottom: 60px;
}

.margin-top {
  margin-top: 60px;
}

.lower-logo {
  max-width: 200px;
}

.author {
  font-size: 12px;
}

.web-text {
  position: relative;
  top: 3px;
}

.feature-logo {
  text-align: center;
  margin-top: 20px;
}

.easy-scanning {
  max-width: 200px;
}

.follow-up {
  max-width: 200px;
}

.different-devices {
  max-width: 300px;
}

.text-paragraph {
  h1, h2, h3, h4, h5 {
    margin: 30px 0;
  }

  h1, h2 {
    border-top: solid rgba(0, 0, 0, 0.2) 1px;
    padding-top: 15px;
  }

  p {
    margin-bottom: 15px;
  }

  pre {
    text-align: right;
    margin-bottom: 40px;
  }

}


@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 992px) {

  .showcase {
    img {
      max-width: 90%;
    }
  }

  .upper-logo {
    width: 100px;
  }

}

@media (max-width: 768px) {
  .heading {
    margin-top: 20px;
  }

  .margin-top {
    margin-top: 10px;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .showcase {
    margin-top: 20px;
    text-align: center;
    img {
      max-width: 65%;
    }
  }

  body {
    font-size: 16px;
  }

  .author {
    font-size: 10px;
  }

  .footer {
    margin-top: 50px;
  }

  .stores {
    text-align: center;
  }

}

@media (max-width: 368px) {

  .start-now a {
    margin-top: 10px;
    margin-left: 0px;
  }

  .stores-image {
    max-width: 45%;
  }

  .brand {
    margin: 30px 0 30px 0;
  }

}
